<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert!!!</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon3.png') }}">
    <style>
         h1 {
            font-size: 5rem;
         }

         img {
            display: block;
            height: 300px;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
         }
    </style>
</head>
<body>
    
<h1><center>The Detected disaster : <br> {{ disaster }}</center></h1>
<div>
<img src="{{ url_for('static', filename='images/warning.png') }}" alt="">
</div>
</body>
</html>